@model MatchViewModel
@section Styles{
    <link href="~/css/match.css" rel="stylesheet" />
}
<div class="container">
    <div class="header col-lg-12">
        <h1>@Model.match.LeagueName</h1>
    </div>
</div>
