* {
    font-family: cursive;
    color: greenyellow;
}

td, tr {
    background-color: silver;
    border: 1px solid black;
    color:black;
    padding: 5px;
}
h3 {
    font-size: 14px;
}

.time{
    width:15%;
    padding-left: 10px;
}
th {
    padding: 10px;
    background-color: #1082ef;
    cursor: pointer;
}
    th:hover {
        background-color: #43e2f8;
        color:red;
    }
.collapse{
    padding-bottom:8px;
}

.head {
}