* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}


.ptable table {
    font-family: Fjalla One;
    margin: 10px auto;
    border-collapse: collapse;
}

html {
    background-color: black;
}

.ptable {
    margin: 0px 0% 10px 0%;
    background-color:black !important;
    font-size: 12px;
}

    .ptable th, td {
        padding: 7px;
        background-color: black;
        color: #ffe221;
        text-align: center;
    }


.headin {
    font-family: Fjalla One;
    text-align: center;
    text-decoration: none;
    color: #ffe221;
    margin: 30px;
    display: block;
    margin-top: 50px;
}

.container{
    background-color:black !important;
}

.wpos {
    text-align: center;
}

    .wpos td {
        color: #77ff21;
    }

.pos {
    text-align: center;
}

    .pos td {
        color: #ff7b21;
    }

table .col {
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover {
    background-color: #77ff21;
}

    .wpos:hover td {
        color: mediumpurple;
    }

.pos:hover {
    background-color: #ff7b21;
}

    .pos:hover td {
        color: mediumpurple;
    }


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}