* {
    color: greenyellow;

}

.header{
    /*background-color:purple;*/
    text-align: center;
}

h1 {
    font-family: fantasy;
}
.container{
}

.team {
    color: gold;
    text-decoration: underline;
}
.flag {
    vertical-align: middle;
    width: 12%;
    border-radius: 20%;
    margin-top: 10px;
}
.teamone {
    text-align: center;
    font-family: arial;
}
.teamtwo {
    text-align: center;

}
    .teamone h4 {

    }
.alt {
    color: #23d41c;
    font-family: arial;
}
.predictedresult{
    color:white;
}

.prediction {
    padding-top: 50px;
    text-align: center;
    color: deeppink;
}

.scorecomparison{
    padding-top:50px;
}
.predictedscore{
    color:deeppink;
}
.actualresult{
    color:white;
}
