* {
    color: greenyellow;

}

.header{
    /*background-color:purple;*/
    text-align: center;
}

h1 {
    font-family: fantasy;
}
.container{
}

.flag {
    vertical-align: middle;
    width: 12%;
    border-radius: 20%;
    margin-top: 10px;
}
.teamone {
    text-align: center;
    font-family: arial;
}
.teamtwo {
    text-align: center;

}
    .teamone h4 {

    }
.alt {
    color: #23d41c;
    font-family: arial;
}
