

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: black;
}

/* Wrapping element */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse{
    background-color: black;
}

.container {
    min-height: 80px;
}
nav{
    border-color: yellow !important;
}

.navbar-nav li:not(:first-child):before {
    content: " | ";
    position: absolute;
    top: 15px;
    padding-top: 20px;
}

.navbar-nav li {
    color: white;
    vertical-align: middle;
    padding-top: 20px;
}
.navbar-inverse .navbar-nav li a {
    color: white;
}

.navbar-inverse .navbar-brand {
    font-family: fantasy;
    font-size: 40px;
    color: greenyellow;
    padding-top: 30px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
    padding-top:10px;
}







